{% extends "base.html" %}
{% block main %}
    <!--=============== BREADCRUMB ===============-->
      {% include "components/path.html" %}
      <!--=============== DETAILS ===============-->
      {% include "components/details_detail.html" %}

      <!--=============== DETAILS TAB ===============-->
      {% include "components/details_tab_detail.html" %}
      <!--=============== PRODUCTS ===============-->
      {% include "components/products.html" %}
      <!--=============== NEWSLETTER ===============-->
      {% include "components/newsletters.html" %}

{% endblock main %}