{% load static %}
<section class="home section--lg">
    <div class="home__container container grid">
        <div class="home__content">
        <span class="home__subtitle">Qaynoq aksiyalar</span>
        <h1 class="home__title">
            Trenddagi <span>To'plamlar</span>
        </h1>
        <p class="home__description">
            Barcha mahsulotlarga 20 % chegirmalar
        </p>
        <a href="shop.html" class="btn">Xarid qilish</a>
        </div>
        <img src="{% static 'assets/img/home-img.png' %}" class="home__img" alt="hats" />
    </div>
</section>